.dashboard {
    display: flex;
    width: 958px;
    flex-direction: column;
    
}

.main {
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 34px;
}