@import url('https://fonts.googleapis.com/css2?family=Mona+Sans&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: Inter, Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

body {
  height: 100vh;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
